<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">{{ editMode ? 'Update' : 'Create' }}</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="recipeName">Recipe Name</label>
                        <input type="text" class="form-control" id="recipeName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imageUrl">Image Url</label>
                        <input type="url" class="form-control" id="imageUrl">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="recipeDescription">Description</label>
                        <textarea type="text" class="form-control" id="recipeDescription"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" *ngFor="let elem of [1,2]">
                        <div class="row">
                            <div class="col-xs-7">
                                <!-- <label>Name:</label> -->
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-xs-3">
                                <!-- <label>Amount:</label> -->
                                <input type="number" class="form-control">
                            </div>
                            <div class="col xs-2">
                                <!-- <label>Remove:</label> -->
                                <button type="button" class="btn btn-danger">X</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>